<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thebluealliance.androidclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- For Android Beam support -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Device Accounts -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".TbaAndroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Configure FCM notification defaults - these will be used if FCM shows a notification
         (because the notification doesn't get processed by us due to a problem such as a crash) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />

        <!--
        Don't load analytics from xml. See #303
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/tba_android_tracker" />
        -->

        <activity
            android:name=".activities.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/LaunchTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.com.thebluealliance.androidclient" />
            </intent-filter>
            <!-- Use multiple "data" elements so we can only filter for URLs we can handle -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="@string/web_url_host" />
                <data android:host="@string/web_url_host_www" />
                <data android:pathPattern="/" />
                <data android:pathPattern="/teams" />
                <data android:pathPattern="/team/.*" />
                <data android:pathPattern="/events" />
                <data android:pathPattern="/event/.*" />
                <data android:pathPattern="/match/.*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OnboardingActivity"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".activities.MyTBAOnboardingActivity"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".activities.RedownloadActivity"
            android:theme="@style/LaunchTheme" />
        <activity
            android:name=".activities.HomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.settings.MyTBAModelSettingsActivity"
            android:theme="@style/AppThemeNoActionBarTranslucentLightStatus" />
        <activity
            android:name=".activities.ViewEventActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ViewTeamActivity"
            android:launchMode="standard"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ViewMatchActivity"
            android:launchMode="standard"
            android:parentActivityName=".activities.ViewEventActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.ViewEventActivity" />
        </activity>
        <activity
            android:name=".activities.ViewDistrictActivity"
            android:parentActivityName=".activities.HomeActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.TeamAtDistrictActivity"
            android:parentActivityName=".activities.ViewDistrictActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.ViewDistrictActivity" />
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
          android:theme="@style/AppThemeNoActionBar"  />
        <activity
            android:name=".activities.OpenSourceLicensesActivity"
            android:label="@string/license_label"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.ContributorsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.TeamAtEventActivity"
            android:parentActivityName=".activities.ViewEventActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.ViewEventActivity" />
        </activity>
        <activity
            android:name=".activities.SearchResultsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.MoreSearchResultsActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.settings.DevSettingsActivity"
            android:label="@string/title_activity_dev_settings"
            android:theme="@style/AppThemeNoActionBar"
            android:parentActivityName=".activities.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.settings.NotificationSettingsActivity"
            android:label="@string/notification_settings"
            android:theme="@style/AppThemeNoActionBar"
            android:parentActivityName=".activities.settings.SettingsActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thebluealliance.androidclient.activities.settings.SettingsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UpdateRequiredActivity"
            android:label="@string/title_activity_update_required"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activities.ConfirmImageSuggestionActivity"
            android:label="@string/title_activity_confirm_image_suggestion"
            android:theme="@style/AppThemeNoActionBar" />

        <receiver android:name=".receivers.ConnectivityChangeReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.NotificationChangedReceiver"
            android:exported="false" />

        <!--
             The receiver's android:permission filters Intents by sender permission.
             ${gcmPermissionRequired} is defined in android/build.gradle so debug builds accept
             Intents from 'adb shell am broadcast'. See test_notification.py .
        -->
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="${gcmPermissionRequired}"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.thebluealliance.androidclient" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GCMMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".accounts.AccountAuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".background.RecreateSearchIndexes"
            android:exported="false" />
        <service
            android:name=".datafeed.status.StatusRefreshService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".imgur.ImgurSuggestionService"
            android:exported="false" />
        <service
                android:name=".auth.firebase.MigrateLegacyUserToFirebase"
                android:exported="false" />

        <!-- FileProvider for capturing team media -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--
        Disable App Startup for Work Manager
        https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration
        -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

    </application>
</manifest>
