<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- The debug res/xml/network_security_config.xml shadows the main one to
         permit cleartext to the local dev server. -->
    <application>

        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_crashlytics_auto_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />

        <activity
            android:name=".widget.PinWidgetActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".widget.ReconfigureWidgetsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".widget.ResizeWidgetsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".widget.RemoveWidgetsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".widget.MockWidgetActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name=".widget.PinWidgetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.thebluealliance.android.widget.WIDGET_PINNED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
