{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "tba-dev-placeholder",
    "storage_bucket": "tba-dev-placeholder.appspot.com"
  },
  "client": [{
    "client_info": {
      "mobilesdk_app_id": "1:000000000000:android:0000000000000000",
      "android_client_info": { "package_name": "com.thebluealliance.androidclient.development" }
    },
    "oauth_client": [
      { "client_id": "000000000000-placeholder.apps.googleusercontent.com", "client_type": 3 }
    ],
    "api_key": [{ "current_key": "placeholder-api-key" }]
  }],
  "configuration_version": "1"
}
