name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        job: [UNIT, CHECKSTYLE, DATAFEED_CODEGEN, PROD-BUILD]
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Set Up
        run: ./scripts/travis/travis-before.sh ${{ matrix.job }}
      - name: Run Job
        run: ./scripts/travis/travis-worker.sh ${{ matrix.job }}
